<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEC | EMR</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <a class="navbar-brand" href="#">EMR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
 {% if user.is_authenticated %}

        <li class="nav-item">
        <a class="nav-link" href="/dashboard/">Dashboard</a>
            </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout</a>
      </li>
{% else %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Registration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/management/HospitalRegistration/">Hospital Registration</a>
          <a class="dropdown-item" href="/management/DoctorRegistration/">Doctor Registration</a>
          <a class="dropdown-item" href="/management/LabRegistration/">Lab Registration</a>
          <a class="dropdown-item" href="/management/NurseRegistration/">Nurse Registration</a>
            <a class="dropdown-item" href="user/Registration/">Patient Registration</a>
        </div>
      </li>
    </ul>
      <form class="form-inline my-2 my-lg-0" method="post">{% csrf_token %}
          <input class="form-control mr-sm-2" type="email" name="email" placeholder="Email" aria-label="Email">
          <input class="form-control mr-sm-2" type="password" name="pass" placeholder="Password" aria-label="Password">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>{% endif %}
  </div>

</nav>

  {% include 'messaging.html'%}

{% include 'homel.html'%}
<!--
<a href="/management/Doctorlogin/">Doctor Login</a>
<a href="/management/DoctorRegistration/">Doctor Registration</a>
<br>
<a href="/management/Nurselogin/">Nurse Login</a>
<a href="/management/NurseRegistration/">Nurse Registration</a>
<br>
<a href="/management/LoginHospital/">Hospital Login</a>
<a href="/management/HospitalRegistration/">Hospital Registration</a>
<br>
<a href="/management/LabRegistration/">Lab Registration</a>
<a href="/management/Lablogin/">Lab Login</a>
<br>
<a href="/user/Registration/">Patient Registration</a>
<a href="/user/Login/">Patient Login</a>
<br> -->
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>